<!DOCTYPE html>
<html>
  <head>
    <title>Passkey Todo Board</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
  </head>

  <body>
    <div id="root"></div>
    <%= vite_javascript_tag 'application' %>
  </body>
</html>